<div class="footer wide black-green slim dark-green-bg text-center">
		<br>
		<a href="/terms-and-conditions" class="panP slim"><span class="light-green">Terms and Condtitons</span></a> | 
		<a href="/privacy-policy" class="panP slim"><span class="light-green">Privacy Policy</span></a><br>
		<a href="{{site.facebook}}" class="panP slim"><span class="light-green fa fa-facebook-official"></span></a>
		<a href="{{site.soundcloud}}" class="panP slim"><span class="light-green fa fa-soundcloud"></span></a>
		<a href="{{site.instagram}}" class="panP slim"><span class="light-green fa fa-instagram"></span></a>
		<a href="{{site.youtube}}" class="panP slim"><span class="light-green fa fa-youtube"></span></a>
		<br>
		<p class="panP slim black-green wide text-center">
			steppenbeats.com &copy; {{date.year}} <br>
			all rights reserved.
		</p>
	</div>